body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden !important;
}


.main-text {
    font-size: 2.7rem !important;
    font-weight: 700 !important;
    line-height: 1.5 !important;
    margin: 55px 0;
}

.main-text span {
    border-bottom: 2px solid var(--mainyellow);
}

.banner {
    width: 100%;
    height: 350px;
    animation: action 1s infinite  alternate;
}
@-webkit-keyframes action {
    0% { transform: translateY(0); }
    100% { transform: translateY(-15px); }
}
@keyframes action {
    0% { transform: translateY(0); }
    100% { transform: translateY(-15px); }
}